  
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Simple Cloud Application</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    
    <body>
        <div id="action">
            <h1>Simple Cloud Application</h1>
            
                <!-- Create Table -->
                <button v-on:click="createDatabase">Create Table</button><br><br>
                <!-- Query Table -->
                Movie Title: <input v-model="title"><br><br> Movie Year: <input v-model="year"><br><br>
                <button v-on:click="queryDatabase(year, title)">Query Table</button><br><br>
                <div v-show="tableQueried" >
                    <table width=100% border=1px solid black align=center>
                        <thead>
                                <th>Movie</th>
                                <th>Year</th>
                                <th>Director</th>
                                <th>Rating</th>
                                <th>Rank</th>
                                <th>Release Date</th>
                                <th>Runtime</th>
                                <th>Movie Cast</th>
                                <th>Movie Plot</th>
                        </thead>
                        <tbody>
                            <tr v-for="row in queryList">
                                <td v-for="item in row">
                                    {{item}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br><br>
                </div>
                <!-- Delete Table -->
                <button v-on:click="deleteDatabase">Delete Table</button><br><br>

        </div>
    
        <script>
            var action = new Vue({
                el: "#action",
                data: {
                    title: '',
                    year: '',
                    queryList: [],
                    tableQueried: false,
                },
                methods: {
                    createDatabase: createDatabase,
                    queryDatabase: queryDatabase,
                    deleteDatabase: deleteDatabase,
                }
            })
    
            function createDatabase() {
                let prom = fetch("/createDatabase", {method:"post"})
                prom.then(response => response.json())
                    .then(response => {
                    })
            }
    
            function queryDatabase(year, title) {
            let prom = fetch('/queryDatabase/'+title+'/'+year, {method:'POST'})
            prom.then(response => response.json())
                .then(response => {
                    this.queryList = response.movieList
                    this.tableQueried = true
                })
        }
            function deleteDatabase() {
                let prom = fetch('/deleteDatabase', {method:'POST'})
            prom.then(response => response.json())
                .then(response => {
                })
            }


    
        </script>
    </body>

</html>