  
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Simple Cloud Application</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    
    <body>
        <div id="action">
            <h1>Simple Cloud Application</h1>
            <button v-on:click="createDatabase">Create Table</button><br><br>
           
            Movie Title: <input v-model="title"><br> Movie Year: <input v-model="year"><br>
            <button v-on:click="queryDatabase(year, title)">Query</button><br><br>
            
            <button v-on:click="deleteDatabase">Delete Table</button><br><br>
               
        </div>
    
        <script>
            var action = new Vue({
                el: "#action",
                data: {
                    title: '',
                    year: '',
                    queryList: [],
                },
                methods: {
                    createDatabase: createDatabase,
                    deleteDatabase: deleteDatabase,
                    queryDatabase: queryDatabase,
                }
            })
    
            function createDatabase() {
                let prom = fetch("/createDatabase", {method:"post"})
                prom.then(response => response.json())
                    .then(response => {
                    })
            }
    
            function deleteDatabase() {
                let prom = fetch('/deleteDatabase', {method:'POST'})
            prom.then(response => response.json())
                .then(response => {
                })
            }

            function queryDatabase(year, title) {
            let prom = fetch('/queryDatabase/'+title+'/'+year, {method:'POST'})
            prom.then(response => response.json())
                .then(response => {
                    this.queryList = response.movieList
                })
        }

    
        </script>
    </body>

</html>